body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff5f7;
    color: #333;
}

header {
    background-color: #ffb6c1; /* rosa claro */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: white;
    font-family: Arial, sans-serif;
}

section {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

h1, h2, h3 {
    color: #e75480;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

.imagens {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.imagens img {
    width: 100%;
    max-width: 350px;
    border-radius: 8px;
}

.equipe-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.membro {
    text-align: center;
}

.membro img {
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #e75480;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #c7436a;
}

footer {
    background-color: #e75480;
    color: white;
    text-align: center;
    padding: 10px;
}